body
{
    background-color:#d2b48c;
}


a:link
{
    color: white;
}

a:active
{
    color: aqua;
}

ol
{
    color:white;
}


div.sa
{
    float: left;
    background-color: lightblue;
    margin-left: 100px;
    margin-top: 170px;
    border-width:2px;
    border-color:blue;
    border-style:solid;
    width:20%;
    border-radius:20px;
}

div.gl
{
    background-color:lightblue;
    float: left;
    width:60%;
    margin-top:133px;
    margin-left:50px;
    padding:20px;
    border-width:2px;
    border-color:blue;
    border-style:solid;
    margin-bottom: 100px;
    border-radius:20px;
}

div.gl1
{
    margin: auto;
    background-color:lightblue;
    width:60%;
    padding:20px;
    border-width:2px;
    border-color:blue;
    border-style:solid;
    border-radius:20px;
}


img
{
    border-width: 3px;
    border-style:solid;
    border-color: #0c4b91; 
    border-radius: 10px;
    background-color: white; 
    padding: 5px;
    width: 50%;
}

h1
{
    font-family:Monaco;
    font-style: italic;
    text-align: center;
    margin-top: 40px;
    color: white;
}


h2 
{
    color: #0c4b91;
    font-size: 24px;
    padding-bottom: 5px;
    margin-top: 20px;
}


h3 
{
    color: #436cb6;
    font-size: 20px;
    margin-top: 15px;
}


p 
{
    font-size: 16px;
    line-height: 1.6;
    color: #0c4b91;
    text-align: center;
    margin-bottom: 15px;
}

div.gl p, ol, ul
{
    color: #0c4b91;
}

div.gl1 p 
{
    color: #0c4b91;
}

hr
{
    color: #0c4b91;
    width: 90%;
}

div.formula
{
    color: #0c4b91;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-style: italic;
    border-width:1px;
    border-style: solid;
}


.logo
{
    height:19px;
    width:19px;
    background-color:white;
    border-radius:15px;
    text-align:center;
}
 
p
{
    color:white;
    text-align:center;
}

div.na
{
    float:right;
    margin: 50px;
    background-color:#436cb6;
    border-radius:20px;
}


div.na1
{
    float:left;
    margin: 50px;
    background-color:#436cb6;
    border-radius:20px;
}


div.ne
{
    float: left;
    margin: 50px;
    background-color:#436cb6;
    border-radius:20px;
}


header
{
    background-color:  #337ab7;
    padding:50px;
}

footer
{
    background-color: #337ab7;
    padding:50px;
    clear: both;
}

div.he
{
	
	float:left;
	padding:20px;
	margin-right:10px;
	font-size:20px;
}

div.logo
{

	height:20px;
	margin:50px;

}

main
{
    clear: both;
}



table
{
	width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  	text-align:center;
}


th, td
{
    border-width: 1px;
    border-style: solid;
    border-color: cyan;
    text-align: center;
}

div.gt
{
    background-color: #436cb6;
    padding: 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
	width: 200px;
    margin:auto;
}

a.gtlink
{
    color:white;
    font-size:17px;
}
