body{
    background-color:rgb(41, 41, 41);
}

#p1{
    font-size: 24px;
    color: slateblue;
    font: arial;
}

#p2{
    color: rgb(102, 222, 255);
}

#p3{
    color: #59ff5f;
}

#p4{
    color: hsl(283, 100%, 64%);
}